.git
.gitignore
.gitattributes
.env
.env.backup
.env.docker
.editorconfig
.phpactor.json
.phpunit.result.cache
.phpunit.cache

node_modules
vendor

tests
phpunit.xml

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

docs
*.md
!README.md

.vscode
.idea
.cursor
.zed
.nova
.codex

docker
docker-compose.yml
Dockerfile
deploy.sh
